@{
    ViewBag.Title = "Handleliste";
}

@*<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Handleliste</li>
    <li>Melk</li>
    <li>Brød</li>
</ul>*@

<h1>handleliste:</h1>

<div id="loader" class="loading">&nbsp;</div>

<table width="100%">
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: name, click: moveToShoppingCart" class="item" />
        </tr>
    </tbody>
</table>

<fieldset>
    <legend></legend>
    <p>
        <input type="text" data-bind="value: newItemText" placeholder="ny vare" />
        <button data-bind="click: addNewItem">legg til</button>
    </p>
</fieldset>

<h3>handlet inn allerede:</h3>

<table width="100%">
    <tbody data-bind="foreach: itemsInShoppingCart">
        <tr>
            <td data-bind="text: name, click: moveToShoppingCart" />
        </tr>
    </tbody>
</table>