@{
    ViewBag.Title = "Handleliste";
}

<script type="text/html" id="item-template">
    <div class="item" data-bind="click: moveToShoppingCart">
        <span data-bind="text: name" /> 
        <div class="addedWhen">
            lagt til <span data-bind="text: createdWhen" />
        </div>
    </div>
</script>

<h1>handleliste:</h1>

<div id="loader" class="loading">&nbsp;</div>

@*<table width="100%">
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: name, click: moveToShoppingCart" class="item" />
        </tr>
    </tbody>
</table>*@

<div data-bind="template: { name: 'item-template', foreach: items }"></div>

<div id="emptyListMessage">
    <span data-bind="visible: items().length == 0">
        ingen varer på handlelista
    </span>
</div>

<fieldset>
    <legend></legend>
    <p>
        <input id="addNewItemInputField" type="text" data-bind="value: newItemText" placeholder="ny vare" />
        <button id="addNewItemButton" data-bind="click: addNewItem" data-icon="plus" data-inline="true">legg til</button>
    </p>
</fieldset>

<h3>handlet inn allerede:</h3>

<table width="100%">
    <tbody data-bind="foreach: itemsInShoppingCart">
        <tr>
            <td data-bind="text: name" />
        </tr>
    </tbody>
</table>